* {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    grid-template-columns: 5fr 6fr;
    height: 100vh;
}

.left {
    background-color: rgb(14, 11, 68);
    position: relative;
}

.right {
    background-color: rgba(14, 16, 86, 0.967);
    position: relative;
    overflow: hidden;
}

.icon1 {
    position: absolute;
    bottom: 2%;
    left: 20%;
    transition: 0.5s ease;
    width: 38%;
}

.icon2 {
    position: absolute;
    top: -8rem;
    right: 5%;
    transition: 0.5s ease;
    width: 30%;
}

.content {
    position: absolute;
    left: 14%;
    width: 50%;
    bottom: 3%;
    color: white;
}

.content img {
    width: 85%;
    margin-bottom: 1rem;
}

.content h1 {
    font-weight: 600;
    font-size: 3rem;
}

.content h4 {
    font-weight: 300;
}

.content h5 {
    margin-bottom: 6rem;
    font-weight: 200;
}

.bottom {
    position: absolute;
    right: 10%;
    bottom: 3%;
    color: white;
}

.bottom h4 {
    font-weight: 200;
}