* {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
  overflow: hidden;
}

.left {
  background-color: rgb(127, 25, 223);
  position: relative;
}

.right {
  background-color: rgba(255, 255, 255, 0.878);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  left: 14%;
  width: 50%;
  bottom: 3%;
  color: white;
}

.content img {
  width: 85%;
  margin-bottom: 1rem;
  transition: 1s;
}

.content h1 {
  font-weight: 600;
  font-size: 3rem;
  transition: 1s;
}

.content h4 {
  font-weight: 300;
}

.content h5 {
  margin-bottom: 6rem;
  font-weight: 200;
}

.bottom {
  position: absolute;
  right: 10%;
  bottom: 3%;
  color: white;
}

.bottom h4 {
  font-weight: 200;
}
.logocon {
  color: white;
  z-index: 2;
}
.logocon h2 {
  position: absolute;
  font-size: 3rem;
  top: 16%;
  transition: 1s ease;
  z-index: 2;
  right: -2%;
}
.logocon h3 {
  margin-top: 0.2rem;
  position: absolute;
  top: 24%;
  font-size: 1.2rem;
  font-weight: 300;
  right: -5%;
  z-index: 2;
}

.right img {
  transition: 0.5s ease;
  width: 35%;
}
@media (max-width: 1200px) {
  .logocon h2 {
    top: 19%;
    font-size: 2.8rem;
  }
  .logocon h3 {
    top: 27%;
  }
}
@media (max-width: 800px) {
  .page {
    display: flex;
    flex-direction: column-reverse;
  }
  .logocon {
    display: none;
  }
  .left {
    height: 50vh;
  }
  .right {
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
  .bottom h4 {
    display: none;
  }
  .content h5 {
    margin-bottom: 2rem;
  }
  .content img {
    width: 60%;
  }
  .content {
    top: -14%;
    left: 0;
    z-index: 2;
    width: 100%;
    margin: 2rem;
  }

  .icon2 {
    position: absolute;
    right: -5%;
    bottom: -7rem;
  }
  .icon1 {
    position: absolute;
    left: 10%;
    bottom: -8rem;
    z-index: 0.7;
  }
  .content img {
    border: 4px solid rgb(127, 25, 223);
    border-radius: 8px;
    background-color: white;
  }
  .right img {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .icon2 {
    position: absolute;
    right: -5%;
    bottom: -5rem;
  }
  .icon1 {
    position: absolute;
    left: 10%;
    bottom: -6rem;
    z-index: 0.7;
  }
}
@media (max-width: 500px) {
  .icon2 {
    position: absolute;
    right: -5%;
    bottom: -3rem;
  }
  .icon1 {
    position: absolute;
    left: 5%;
    bottom: -6rem;
    z-index: 0.7;
  }
  .right img {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .icon2 {
    position: absolute;
    right: -10%;
    bottom: -5rem;
  }
  .icon1 {
    position: absolute;
    left: -1%;
    bottom: -5rem;
    z-index: 0.7;
  }
  .right img {
    width: 60%;
  }
  .content img {
    width: 70%;
    margin-bottom: 0rem;
  }
}
