* {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
}

.left {
  background-color: #07694c;
  position: relative;
}

.right {
  background-color: rgba(15, 174, 105, 0.926);
  position: relative;
  overflow: hidden;
}
.logocon {
  color: white;
  z-index: 2;
}
.h2 h2 {
  font-size: 3.5rem;
}
.h2 h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: -5px;
}

.h2 {
  position: absolute;
  top: 16%;
  z-index: 2;
  right: -4%;
}
.logocon h3 {
  position: absolute;
  top: 27%;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  right: -3%;
  z-index: 2;
}
.icon1 {
  position: absolute;
  width: 47%;
  z-index: 1;
  left: 25%;
  bottom: -14%;
  transition: 0.5s;
}

.icon2 {
  position: absolute;
  width: 35%;
  bottom: -6%;
  right: 6%;
  transition: 0.5s;
}

.content {
  position: absolute;
  left: 14%;
  width: 50%;
  bottom: 3%;
  z-index: 3;
  color: white;
}

.content img {
  width: 65%;

  margin-bottom: 1rem;
}

.content h1 {
  font-weight: 600;
  font-size: 3rem;
}

.content h4 {
  font-weight: 300;
  color: rgb(168, 205, 193);
}

.content h5 {
  margin-bottom: 6rem;
  font-weight: 200;
}

.bottom {
  position: absolute;
  right: 10%;
  bottom: 3%;
  color: white;
}

.bottom h4 {
  font-weight: 200;
}
@media (max-width: 800px) {
  .page {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    height: 50vh;
  }
  .right {
    height: 50vh;
  }
  .bottom h4 {
    display: none;
  }
  .logocon {
    display: none;
  }
  .content h5 {
    margin-bottom: 2rem;
  }
  .content {
    bottom: 25%;
    width: 90%;
  }
  .content img {
    width: 20rem;
  }
}
@media (max-width: 480px) {
  .content img {
    width: 17rem;
  }
}
