* {
  margin: 0;
  padding: 0;
}
.page {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
}
.left {
  background-color: rgba(7, 105, 75, 0.86);
  position: relative;
}
.right {
  background-color: rgba(15, 174, 105, 0.926);
  position: relative;
  overflow: hidden;
}
.icon1 {
  position: absolute;
  width: 47%;
  z-index: 1;
  left: 25%;
  bottom: -14%;
  transition: 0.5s ease;
}
.icon2 {
  position: absolute;
  width: 35%;
  bottom: -6%;
  z-index: 0.5;
  right: 6%;
  transition: 0.5s ease;
}
.content {
  position: absolute;
  left: 14%;
  width: 50%;
  bottom: 3%;
  color: white;
}
.content img {
  width: 65%;
  margin-bottom: 1rem;
}
.content h1 {
  font-weight: 600;
  font-size: 3rem;
}
.content h4 {
  font-weight: 300;
  color: rgb(168, 205, 193);
}

.content h5 {
  margin-bottom: 6rem;
  font-weight: 200;
}
.bottom {
  position: absolute;
  right: 10%;
  bottom: 3%;
  color: white;
}
.bottom h4 {
  font-weight: 200;
}
