* {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
}

.left {
  background-color: #1243a6;
  position: relative;
}

.right {
  background-color: rgba(33, 193, 242, 0.967);
  position: relative;
  overflow: hidden;
}

.icon1 {
  position: absolute;
  bottom: -15%;
  left: 14%;
  transition: 0.5s ease;
  width: 26%;
}
.logocon {
  color: white;
  z-index: 2;
}
.h2 h2 {
  font-size: 3.5rem;
}
.h2 h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: -5px;
}

.h2 {
  position: absolute;
  top: 16%;
  z-index: 2;
  right: -4%;
}
.logocon h3 {
  position: absolute;
  top: 27%;
  font-size: 1.5rem;
  font-weight: 300;
  right: -3%;
  z-index: 2;
}

.icon2 {
  position: absolute;
  top: -13%;
  left: 14%;
  transition: 0.5s ease;
  width: 26%;
}

.icon3 {
  position: absolute;
  bottom: -12rem;
  left: 42%;
  transition: 0.5s ease;
  width: 27%;
}

.icon4 {
  position: absolute;
  transition: 0.5s ease;
  top: -2%;
  right: 32%;
  width: 25%;
}

.icon5 {
  position: absolute;
  bottom: 14%;
  right: 3%;
  transition: 0.5s ease;
  width: 25%;
}

.content {
  position: absolute;
  left: 14%;
  width: 50%;
  bottom: 3%;
  color: white;
}

.content img {
  width: 85%;
  margin-bottom: 1rem;
}

.content h1 {
  font-weight: 600;
  font-size: 3rem;
}

.content h4 {
  font-weight: 300;
}

.content h5 {
  margin-bottom: 6rem;
  font-weight: 200;
}

.bottom {
  position: absolute;
  right: 10%;
  bottom: 3%;
  color: white;
}

.bottom h4 {
  font-weight: 200;
}
@media (max-width: 800px) {
  .page {
    display: flex;
    flex-direction: column-reverse;
  }
  .logocon {
    display: none;
  }
  .left {
    height: 50vh;
  }
  .right {
    height: 50vh;
  }
  .bottom h4 {
    display: none;
  }
  .content h5 {
    margin-bottom: 2rem;
  }
  .content {
    bottom: 25%;
  }
}
