* {
  margin: 0;
  padding: 0;
}
.page {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
}
.left {
  background-color: rgba(32, 92, 210, 0.964);
  position: relative;
}
.right {
  background-color: rgba(33, 193, 242, 0.967);
  position: relative;
  overflow: hidden;
}
.icon1 {
  position: absolute;
  bottom: -15%;
  left: 14%;
  transition: 0.5s ease;
  width: 26%;
}
.icon2 {
  position: absolute;
  top: -13%;
  left: 14%;
  transition: 0.5s ease;
  width: 26%;
}
.icon3 {
  position: absolute;
  bottom: -12rem;
  left: 42%;
  transition: 0.5s ease;
  width: 27%;
}
.icon4 {
  position: absolute;
  transition: 0.5s ease;
  top: -2%;
  right: 32%;
  width: 25%;
}
.icon5 {
  position: absolute;
  bottom: 14%;
  right: 3%;
  transition: 0.5s ease;
  width: 25%;
}
.content {
  position: absolute;
  left: 14%;
  width: 50%;
  bottom: 3%;
  color: white;
}
.content img {
  width: 85%;
  margin-bottom: 1rem;
}
.content h1 {
  font-weight: 600;
  font-size: 3rem;
}
.content h4 {
  font-weight: 300;
}

.content h5 {
  margin-bottom: 6rem;
  font-weight: 200;
}
.bottom {
  position: absolute;
  right: 10%;
  bottom: 3%;
  color: white;
}
.bottom h4 {
  font-weight: 200;
}
