* {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 100vh;
}

.left {
  background-color: #131d31f6;
  position: relative;
}

.right {
  background-color: rgba(4, 19, 40, 0.967);
  position: relative;
  overflow: hidden;
}

.icon1 {
  position: absolute;
  bottom: 2%;
  left: 10%;
  transition: 0.5s ease;
  width: 30%;
}

.icon2 {
  position: absolute;
  top: 14%;
  right: 23%;
  transition: 0.5s ease;
  width: 28%;
}

.icon3 {
  position: absolute;
  top: -5rem;
  left: -1rem;
  transition: 0.5s ease;
}

.icon4 {
  position: absolute;
  transition: 0.5s ease;
  top: -17%;
  right: 8%;
}

.icon5 {
  position: absolute;
  bottom: -15%;
  right: -5%;
  transition: 0.5s ease;
}

.content {
  position: absolute;
  left: 14%;
  width: 50%;
  bottom: 3%;
  color: white;
}

.content img {
  width: 85%;
  margin-bottom: 1rem;
}

.content h1 {
  font-weight: 600;
  font-size: 3rem;
}

.content h4 {
  font-weight: 300;
}

.content h5 {
  margin-bottom: 6rem;
  font-weight: 200;
}

.bottom {
  position: absolute;
  right: 10%;
  bottom: 3%;
  color: white;
}

.bottom h4 {
  font-weight: 200;
}
@media (max-width: 800px) {
  .page {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    height: 50vh;
  }
  .right {
    height: 50vh;
  }
  .bottom h4 {
    display: none;
  }
  .content h5 {
    margin-bottom: 2rem;
  }
  .content {
    bottom: 25%;
  }
}
