* {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    grid-template-columns: 5fr 6fr;
    height: 100vh;
}

.left {
    background-color: rgb(6, 22, 140);
    position: relative;
}

.right {
    background-image: url("../../Media/interior.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.icon1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
}

.content {
    position: absolute;
    left: 14%;
    width: 50%;
    bottom: 3%;
    color: white;
}

.content img {
    width: 85%;
    margin-bottom: 1rem;
}

.content h1 {
    font-weight: 600;
    font-size: 3rem;
}

.content h4 {
    font-weight: 300;
}

.content h5 {
    margin-bottom: 6rem;
    font-weight: 200;
}

.bottom {
    position: absolute;
    right: 10%;
    bottom: 3%;
    color: white;
}

.bottom h4 {
    font-weight: 200;
}